<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>javanos</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>InsertBoardServlet</display-name>
		<servlet-name>InsertBoardServlet</servlet-name>
		<servlet-class>com.javanos.project.lnf.controller.InsertBoardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertBoardServlet</servlet-name>
		<url-pattern>/InsertBoardServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BoardDetailServlet</display-name>
		<servlet-name>BoardDetailServlet</servlet-name>
		<servlet-class>com.javanos.project.lnf.controller.BoardDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardDetailServlet</servlet-name>
		<url-pattern>/BoardDetailServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteBoardServlet</display-name>
		<servlet-name>DeleteBoardServlet</servlet-name>
		<servlet-class>com.javanos.project.lnf.controller.DeleteBoardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBoardServlet</servlet-name>
		<url-pattern>/DeleteBoardServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FirstPageServlet</display-name>
		<servlet-name>FirstPageServlet</servlet-name>
		<servlet-class>com.javanos.project.lnf.controller.FirstPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstPageServlet</servlet-name>
		<url-pattern>/FirstPageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MainBoardListServlet</display-name>
		<servlet-name>MainBoardListServlet</servlet-name>
		<servlet-class>com.javanos.project.lnf.controller.MainBoardListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainBoardListServlet</servlet-name>
		<url-pattern>/MainBoardListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModifyBoardServlet</display-name>
		<servlet-name>ModifyBoardServlet</servlet-name>
		<servlet-class>com.javanos.project.lnf.controller.ModifyBoardServlet</servlet-class>
	</servlet>
</web-app>